@page
@model WebApplication2.Pages.Contacts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.Firstname" class="control-label"></label>
                <input asp-for="Contact.Firstname" class="form-control" />
                <span asp-validation-for="Contact.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Lastname" class="control-label"></label>
                <input asp-for="Contact.Lastname" class="form-control" />
                <span asp-validation-for="Contact.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label"></label>
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Password" class="control-label"></label>
                <input asp-for="Contact.Password" class="form-control" />
                <span asp-validation-for="Contact.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.CategoriesID" class="control-label"></label>
                <select asp-for="Contact.CategoriesID" class ="form-control" asp-items="ViewBag.CategoriesID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Contact.PhoneNumber" class="control-label"></label>
                <input asp-for="Contact.PhoneNumber" class="form-control" />
                <span asp-validation-for="Contact.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.DateOfBirth" class="control-label"></label>
                <input asp-for="Contact.DateOfBirth" class="form-control" />
                <span asp-validation-for="Contact.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
